[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
backend = "*"
django-crispy-forms = "*"
pillow = "*"
crispy-bootstrap4 = "*"
python-dotenv = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.10"
