@use "../index.scss";

#welcome-header{
    width: 90%;
    position: sticky;
}

#get-started-button {
    font-size: 3vw;
    color: rgb(195, 21, 53);
    position: relative;
    bottom: 0;
    margin: auto;
}

#get-started-button:hover {
    cursor: pointer;
}

#buttons-container{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    position: relative; 
    height: 100vh;
    width: 100vw;
    top:0; left:0; right:0; bottom:0; 
    margin:auto;
}

#login-button{
    font-size: 3vw;
    color: rgb(191, 199, 211);
    position: relative;
    bottom: 0;
    margin: auto;
    width: 40vw;
    height: 32vh;
    border-radius: 5%;
    background-color: rgb(187, 15, 15);
}

#create-account-button {
    font-size: 3vw;
    color: rgb(191, 199, 211);
    position: relative;
    bottom: 0;
    margin: auto;
    width: 40vw;
    height: 32vh;
    border-radius: 5%;
    background-color: rgb(187, 15, 15);
}