@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Staatliches&display=swap');

$main-color: rgb(195, 21, 53);

.page-container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Staatliches', 'Helvetica', 'Arial', sans-serif;
    background-color: rgb(30, 30, 30);
    height: 100vh;
    width: 100vw;
}

.content-container{
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 100%;
    position:absolute; 
    top:0; left:0; right:0; bottom:0; 
    margin:auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid black;
}